@import "./global.scss";

.App {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: #17181F;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;

    .appHeader {
        width: 94%;
        max-width: 980px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        color: #FFF;

        span {
            color: #797A81;

            @include tablet {
                font-size: 12px;
            }
        }

        h1 {
            width: 100%;
            padding-bottom: 10px;
            margin: 0;
            text-align: center;
            border-bottom: 1px solid #444;
        }
    }

    .appMain {
        width: 94%;
        max-width: 980px;
        margin: 20px 0;
        flex: 1;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        .mainContainer {
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            padding: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 20px;


            h3 {
                color: white;
                font-size: 27px;
                font-weight: 400;
                margin: 0;
            }

            .projectsContainer {
                width: 100%;
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-wrap: wrap;

                .eachProject {
                    box-sizing: border-box;
                    width: 250px;
                    height: 300px;
                    text-decoration: none;
                    padding: 12px;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    cursor: pointer;

                    background: -moz-linear-gradient(45deg, #000000 0%, #061722 50%, #0A2A3E 100%);
                    background: -webkit-linear-gradient(45deg, #000000 0%, #061722 50%, #0A2A3E 100%);
                    background: linear-gradient(45deg, #000000 0%, #061722 50%, #0A2A3E 100%);
                    -webkit-box-shadow: inset 0px 0px 23px 6px #0a0a0a;
                    box-shadow: inset 0px 0px 23px 6px #0a0a0a;

                    &:hover {
                        -webkit-box-shadow: none;
                        box-shadow: none;
                    }

                    h4 {
                        margin: 0px 0px 12px 0px;
                        color: aqua;
                    }

                    .imageContainer {
                        width: 80%;
                        height: 140px;
                        border-radius: 5px;
                        border: 1px solid aqua;
                        margin: 0;

                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 5px;
                            object-fit: cover;
                        }
                    }

                    p {
                        color: aqua;
                    }

                    @include tablet {
                        width: 210px;
                        height: 220px;

                        p {
                            font-size: 12px;
                        }
                    }

                    @include mobile {
                        width: 250px;
                        height: 175px;

                        .imageContainer {
                            width: 45%;
                            height: 80px;
                        }
                    }
                }
            }


        }
    }


    .appFooter {
        box-sizing: border-box;
        background-color: rgb(22, 19, 19);
        width: 94%;
        max-width: 980px;
        height: 20%;
        border-radius: 10px;
        padding-left: 15px;
        display: flex;
        align-items: center;
        gap: 30px;

        h3 {
            color: rgb(230, 213, 213);
        }

        .othersContainer {
            height: 80%;
            display: flex;
            gap: 30px;

            a {
                background-color: aqua;
                height: 100%;
                margin: 2px;
                border-radius: 5px;

                &:hover {
                    margin: 0;
                    border: 2px solid aqua;

                }

                img {
                    height: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                }
            }
        }
    }

    @include tablet {

        .appMain {

            .mainContainer {
                padding: 15px 0;
                
                .projectsContainer{
                    gap: 5px;
                }
            }
        }

        .appFooter {
            height: 18%;
            margin-bottom: 26px;
            gap: 12px;

            h3 {
                font-size: 15px;
                font-weight: 300;
            }

            .othersContainer {
                gap: 5px;
            }
        }
    }

    @include mobile {
        .appFooter {
            padding-left: 0;
            flex-direction: column;
            justify-content: center;
            gap: 5px;

            h3 {
                margin: 0;
            }

            .othersContainer {
                height: 60%;
            }
        }
    }

}