/*.uploadLabel{
    background-color: dodgerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}*/
/*
.fileName {
    background-color: rgb(35, 90, 193);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0px;
    padding: 5px 10px;
    cursor: default;
}

.closeIcon{
    background-color: red;
    position: absolute;
    font-size: 23px;
    right: -12px;
    top: -12px;
    border-radius: 5px;
    cursor: pointer;
}*/